@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

/* Hide scrollbar globally */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}